{% extends "devices/paginable.html" %}

{% block content %}
<div class="float-md-right"> <a href="{% url 'device' catid dev.id %}"><h3>Back</h3></a></div>
<h3>Alerts on device {{dev.name}} </h3>
    {% for item in alert_list %}

        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                   <h4>{{ item.attribute.name }} {{ item.alert_condition }} {{ item.value }}</h4>
                    <p><small>{{ item.description }}</small></p>
                    <div>Alert level: {{ item.alert_level }} </div>
                    
                </div>
            </div>
            <div>
                <button class="btn btn-outline-secondary" ><a href="{% url 'updatealert' catid dev.id item.id %}">Update</a></button>
            </div>
            <div>
                <button class="btn btn-outline-danger" ><a href="{% url 'deletealert' catid dev.id item.id %}">Delete</a></button>
            </div>
            <div>
                <button class="btn btn-outline-secondary" ><a href="{% url 'selectfeedbackfunction' catid dev.id item.id %}">Create feedback function</a></button>
            </div>
        </article>

    {% endfor %}

{% endblock content %}    