{% extends "devices/paginable.html" %}

{% block content %}
    <div class="float-right"> <a href="{% url 'device' cat.id dev.id %}"><h3>Back</h3></a></div>

    <h2>{{ fun.name }}</h2>
    
    <small>Description: {{ fun.description }}</small>
    <form action="{% url 'function' cat.id dev.id fun.id%}" method="POST">
    {% csrf_token %}
    {% for par in parameters %}

        <article class="media content-section">
            <div class="media-body" class=".col-md-6">
                <div class="article-metadata">
                    <h5>Paramerer {{ par.name }}:</h5>
                    <p> <small>{{ par.description }}. </small></p>
                    {% if par.options %}
                        <small><p>Options:<ul>
                        {% for opt in par.options %}
                            <li>{{ opt.option }} : {{ opt.description }} </li>
                        {% endfor %}
                        </ul></p></small>
                    {% endif %}
                    {% if par.constraints %}
                        <small><p>Constraints:<ul>
                        {% for con in par.constraints %}
                            <li>{{con.constraintType }} : {{ con.value }} </li>
                        {% endfor %}
                        </ul></p></small>
                    {% endif %}
                    <p><small>Type: {{ par.data_type }} </small></p>
                </div>                  
            </div>
            <div class=".col-md-6">
                {% if par.options %}
                    <select name="{{ par.id }}">
                    {% for opt in par.options %}
                        <option value="{{ opt.option }}">{{ opt.option }}</option>
                    {% endfor %}
                </select>
                {% else %}
                    {% if par.data_type == 'B' %}
                        <input type="radio" name="{{ par.id }}">
                    {% elif par.data_type == 'S'%}
                        <input type="text" name="{{ par.id }}">
                    {% else %}
                        <input type="number" name="{{ par.id }}">
                    {% endif %}   
                {% endif %}
                </div>  
        </article>
    
    {% endfor %}
    <input type="submit" value="Send Command">
    </form>

{% endblock content %}    